.berta {
    margin: 2rem;
    color: $primary;
    text-align: center;
    h2{
        font-weight: bold;
    }
    img {
        width:70%;
        @include media (xs){
            width: 100%;
        }
    }
}