main {
    section {
        .containerimg {
            background: url(../../assets/img/leaf1.png), url(../../assets/img/leaf2.png);
            background-repeat: no-repeat, no-repeat;
            background-position:  right ,  left;
            background-size: 10rem;
            h1 {
                color: $primary;
                font-size: 4rem;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                @include media(xs){
                    font-size: 3rem;
                }
                @include media(sm){
                    font-size: 3rem;
                }
                @include media(md){
                    font-size: 3rem;
                }
                @include media(md){
                    font-size: 3rem;
                }
                @include media(lg){
                    font-size: 3rem;
                }
            }
            h2 {
                color: $primary;
                @include capi;;
                font-size: 2.5rem;
                padding-bottom: 1.5rem;
                text-align: center;
                @include media(xs){
                    font-size: 1.5rem;
                }
                @include media(sm){
                    font-size: 1.5rem;
                }
                @include media(md){
                    font-size: 2rem;
                    padding-top: 2rem;
                }
                @include media(lg){
                    font-size: 2.5rem;
                    padding-top: 1rem;
                }
            }
            @include media(xs){
                background-position: bottom right , bottom  left;
                background-size: 6rem;
                padding-bottom: 2rem;
            }            
            @include media(sm){
                background-position: bottom right , bottom  left;
                background-size: 6rem;
                padding-bottom: 2rem;
            }           
            @include media(md){
                background-position: top right , top  left;
                background-size: 6rem;
            }         
            @include media(lg){
                background-repeat: no-repeat, no-repeat;
                background-position: top right , top  left;
                background-size: 6rem;
            }
        }
    }
    .carousel {
        max-height: 500px;
        img {
            height: 500px;
            object-fit:cover;
        }
    }
    .ourhistory {
        background-color: #ffffff;
        background-image: url('../../assets/img/justicia.jpg'), url('../../assets/img/team2.jpg'),;
        background-size: 150px, 300px;
        background-position: 25% 0%, bottom right;
        background-repeat: no-repeat, no-repeat;
        text-align: center;
        .historytitle {
            color: $primary;
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 4rem;
            padding-top: 3rem;

            @include media(xs){
                padding-top: 11rem;
                margin-top: 3rem;
            }            
            @include media(sm){
                padding-top: 11rem;
                margin-top: 3rem;
            }
            @include media(md){
                margin-top: 3rem;
            }
        }
        p { 
            color: $primary;
            letter-spacing: 1px;
            line-height: 2rem;
            margin: 0rem 1rem;
            padding-right: 5rem;
            text-align: justify;
            span {
                @include capi;
            }
            @include media(xs){
                padding: 0;
            }            
            @include media(sm){
                padding: 0;
            }
            @include media(md){
                padding: 0;
            }
            @include media(lg){
                padding: 0;
            }
        }
        hr {
            background-color: $primary;
            display: inline-block;
            height: 5px;
            opacity: 1;
            width: 30%;
            @include media(xs){
                margin-top: 9rem;
            }
            @include media(sm){
                margin-top: 9rem;
            }
            @include media(md){
                margin-top: 6rem;
            }
            @include media(lg){
                margin-top: 6rem;
            }
       }
       @include media(xs){
        background-size: 10rem, 15rem;
        background-position: 25% 0%, 100% 98%;
        background-repeat: no-repeat, no-repeat;
        }
        @include media(sm){
        background-size: 10rem, 15rem;
        background-position: 25% 0%, 100% 98%;
        background-repeat: no-repeat, no-repeat;
        }
        @include media(md){
        background-size: 10rem, 15rem;
        background-position: top left, 100% 95%;
        background-repeat: no-repeat, no-repeat;
        }
        @include media(lg){
        background-size: 10rem, 15rem;
        background-position: top left, 100% 95%;
        background-repeat: no-repeat, no-repeat;
        }
    }


}