.institutomain {
    background-image: url(../../assets/img/acuerdos.png), url(../../assets/img/leaf4.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 300px , 250px;
    background-position: 100% -10%, 0% 90%;
    .instituto {
        color: $primary;
        padding-right: 17rem;
        h3 {
            font-weight: bold;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p {
            font-size: 1rem;
            letter-spacing: 1px;
            line-height: 25px;
        }
        @include media(xs){
            padding: 0rem;
        }
    }
    .institutolist {
        
        color: $primary;
        padding: 2rem 2rem 2rem 15rem;
    }
}