section {
    .lineastematicas {
            color: $primary;
            padding-bottom: 1rem;
            hr{
                height: 5px;
                width: 50%;
            }
            h4, h3 {
                font-weight: bolder;
                text-transform: uppercase;
                padding-bottom: .5rem;
            }
            p {
                padding-bottom: .5rem;
                letter-spacing: 2px;
            }
        }
}