section {
    .somos {
        background: url(../../assets/img/team1.png), url(../../assets/img/eviorement.png);
        background-repeat: no-repeat, no-repeat;
        background-position: -2% -50% ,  bottom right;
        background-size: 16rem, 15rem;
        .textoquienes {           
            color: $primary;
            padding: 1rem 7rem;
            h3 {
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 1rem;
                @include media(lg){
                    text-align: center;
                }
            }
            p {
                letter-spacing: 2px;
                .capi {
                    @include capi;
                }
            }
            .sumatecont{
                text-align: right;
                .sumatebtn {
                    background-color: $senary;
                    @include media(xs){
                        font-weight: bold;
                        margin-top:5rem;
                    }
                    @include media(sm){
                        font-weight: bold;
                        margin-top:5rem;
                    }
                    @include media(md){
                        font-weight: bold;
                        margin-top:5rem;
                    }
                }
                @include media(xs){
                    text-align: left;
                }
                @include media(sm){
                    text-align: left;
                }
                @include media(md){
                    text-align: left;
                }
                @include media(lg){
                    text-align: left;
                }
            }
            @include media(xs){
                padding: 8rem 2rem;
                margin-bottom: 2rem;
            }
            @include media(sm){
                padding: 8rem 2rem;
                margin-bottom: 2rem;
            }
            @include media(md){
                padding: 6rem 2rem;
                margin-bottom: 2rem;
            }
            @include media(lg){
                padding: 6rem 1rem;
                margin-bottom: 2rem;
            }
        }
        @include media(xs){
            background-repeat: no-repeat, no-repeat;
            background-position: 50% -3% ,  100% 95%;
            background-size: 11rem, 11rem;
        }
        @include media(sm){
            background-repeat: no-repeat, no-repeat;
            background-position: 50% -3% ,  100% 95%;
            background-size: 12rem, 12rem;
        }
        @include media(md){
            background-repeat: no-repeat, no-repeat;
            background-position: 100% -5% ,  bottom center;
            background-size: 13rem, 12rem;
        }
        @include media(lg){
            background-repeat: no-repeat, no-repeat;
            background-position: 100% -10% ,  bottom center;
            background-size: 13rem, 12rem;
        }
    }
    .equipo {
        background-color: #ffff ;
        padding-top: 2rem;
        h2 {
            color:$primary;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            span{
                @include capi;
                text-transform: uppercase;
            }
        }
        .imgcontainer {
            display: flex;
            flex-flow:row wrap;
            justify-content: space-evenly;
            list-style: none;
            li {
                margin: 1rem 0rem;
                max-width: 300px;
                background-color: $octonary;
                img {
                    height: 250px;
                    object-fit: cover;
                    width: auto;
                }
                .card-body{
                    h5 {
                        color:$primary;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
            li:hover {
                border: 1px solid black;
            }
        }
    }
    .manifiesto {
        background: url(../../assets/img/derecho1.png), url(../../assets/img/leaf3.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 0% 90% , 40% 10%;
        background-size: 20rem, 30rem;
        .textomanifiesto {
            color: $primary;
            letter-spacing: 1px;
            h3{
                font-weight: 600;
                margin-bottom: 1rem;
                text-transform: uppercase;
                text-align: center;
            }
            p{
                line-height: 22px;
                padding: 1rem 14rem 1rem 0rem;
                .capi {
                    @include capi;
                }
                @include media(xs){
                padding: 2rem;
                margin-bottom: 12rem;
                }
                @include media(sm){
                    padding: 2rem;
                    margin-bottom: 12rem;
                }
            }
            ul {
                @include media(xs){
                    padding: 2rem;
                    margin-bottom: 10rem;
                }
                @include media(sm){
                    padding: 2rem;
                    margin-bottom: 10rem;
                }
                @include media(md){
                    padding: 2rem;
                    margin-bottom: 10rem;
                }
            }
        }
        @include media(xs){
            background: url(../../assets/img/derecho1.png),url(../../assets/img/leaf3.png) ;
            background-repeat: no-repeat, no-repeat ;
            background-position: bottom, 50% 35%;
            background-size: 14rem, 15rem;        
        }
        @include media(sm){
            background: url(../../assets/img/derecho1.png),url(../../assets/img/leaf3.png) ;
            background-repeat: no-repeat, no-repeat ;
            background-position: bottom, 50% 35%;
            background-size: 14rem, 15rem;        
        }
        @include media(md){
            background: url(../../assets/img/derecho1.png),url(../../assets/img/leaf3.png) ;
            background-repeat: no-repeat, no-repeat ;
            background-position: bottom, 150% 10%;
            background-size: 14rem, 25rem;        
        }
        @include media(lg){
            background: url(../../assets/img/derecho1.png),url(../../assets/img/leaf3.png) ;
            background-repeat: no-repeat, no-repeat ;
            background-position: 10% 90%, 40% 20%;
            background-size: 20rem, 25rem;     
        }
    }
}