* {
    @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
    font-family: Arial, Helvetica, sans-serif, 'Architects Daughter', cursive;
}
html, body {
    margin: 0;
    padding: 0;
    background-color:$octonary;
}