// Colors
$primary: #2e4360;
$secondary: #8bb07a;
$tertiary: #8b935c;
$quaternary: #765236;
$quinary: #557ea4;
$senary: #819e80;
$septenary: #d5ac36;
$octonary: #F7F9F9;
$nonary: #839192;

// mixins
@mixin capi {
        font-family: 'Architects Daughter', cursive ;
        font-weight: bold;
}
@mixin lines {
        color: $primary;
        margin: 2rem;
        height: 400px;
        h4 {
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
        }
}

$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}