// Colors
$primary: #2e4360;
$secondary: #8bb07a;
$tertiary: #8b935c;
$quaternary: #765236;
$quinary: #557ea4;
$senary: #819e80;
$septenary: #d5ac36;
$octonary: #F7F9F9;
$nonary: #839192;

// mixins
@mixin capi {
        font-family: 'Architects Daughter', cursive ;
        font-weight: bold;
}
@mixin lines {
        color: $primary;
        text-align: justify;
        h4 {
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
        }
}

$breakpoint-xs: 360px;
$breakpoint-sm: 576px;
$breakpoint-md: 767px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-xs) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-xs+1) and (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-sm+1) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-md+1) and (max-width: $breakpoint-lg){ @content; }
  }
  @else if $media == xl {
    @media (min-width: $breakpoint-lg+1) and (max-width: $breakpoint-xl){ @content; }
  } 
  @else if $media == xxl {
    @media (min-width: $breakpoint-xl+1) { @content; }
  }
}